{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        {{ form_start(form) }}

        {{ form_row(form.email) }}

        <button class="btn btn-block btn-lg btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}