{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Ajouter un article</div>
                {{ form_start(form) }}
                    {{ form_widget(form._token) }}
                    <div class="card-body">
                        {{ include("admin/trick/_form.html.twig", { form: form }) }}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-lg btn-primary">Créer</button>
                    </div>
                {{ form_end(form, { render_rest: false }) }}
            </div>
        </div>
    </div>
{% endblock %}


