<div id="video-{{ form.vars.name }}" class="card col-sm-6 col-md-3 m-2 text-center pt-2 item">
    {{ form_row(form.uri) }}
    <button class="btn btn-danger btn-remove  mb-2" type="button" data-target="#image-{{ form.vars.name }}">
        Supprimer
    </button>
</div>